
.product-containers {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  
  .product-image-container {
    flex: 0 0 auto; 
    margin-right: 20px;
  }
  
  .product-image {
    
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .product-details {
    flex: 1; 
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .buttons {
    padding: 8px;
    margin: 0 5px;
    cursor: pointer;
    width: 5%;
  }
  
  .add-to-cart {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  @media (max-width: 600px) {
    product-container {
      flex-direction: column; /* Change the flex direction to column */
    }
  }
  