.navbar {
    display: flex;
    justify-content: space-between;
  }
  
  .home{
    align-self: flex-start; /* Align to the left corner */
    margin-top: 10px;
    margin-left: 5px;
    font-weight:bold;
    font-size: 20px;
  }

  
.cart-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 5px;
  }
  
  .cart-button:hover {
    background-color: #2980b9;
  }
  
  .cart-icon {
    margin-left: 10px;
    font-size: 20px;
  }
  